{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
     <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Your profile</h2>
                        <span class="white-text">Personnal & Professionnal informations</span>
                        <ol class="breadcrumb">
                            <li><a href="#!">Home</a></li>
                            <li class="active">Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>


        <!-- Page Content-->
        <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="score-container">
                        <h4>
                            <img src="https://i.imgur.com/s9bPVaK.gif" style="height: 80px; width: 201px;"> &nbsp;
                            &nbsp; Hooray ! Your profile is complete.
                        </h4>
                        <div class="c100 p100 small complete ">
                            <span>100%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                     <div class="clearfix"></div> 
                </div>
            </div>
        </section> 


        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

   {% block javascripts %}
   {# <script>
 onAppReady(function () {
            //$('select:not([multiple])').material_select();
            // Hack for compatibility with parsley
            $('select').css({display:'block',position:'absolute',left:-9999});

            // Multiselect
            $('select').each(function () {
                $(this).select2({
                    placeholder: $(this).data("placeholder"),
                });
            });
            $('select#position_desired[multiple]').on('select2:open', function (e) {
                let container = $(this).select('select2-container');
                let position = $('.select2-results')[0].getBoundingClientRect().y;
                let availableHeight = $(window).height() - position - container.outerHeight();
                let bottomPadding = 20; // Set as needed
                $('ul.select2-results__options').css('height', (availableHeight - bottomPadding) + 'px');
            });

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100, // Creates a dropdown of n years to control year,
                min: new Date(1945, 1, 1),
                max: new Date(2022, 1, 1),
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });

            // File Input Path + remove existing file
            $(document).on('change', '.file-field input[type="file"]', function () {
                var file_field = $(this).closest('.file-field');
                var path_input = file_field.find('input.file-path');
                var files = $(this)[0].files;
                var file_names = [];
                for (var i = 0; i < files.length; i++) {
                    file_names.push(files[i].name);
                }
                path_input.val(file_names.join(", "));
                path_input.trigger('change');
                $(this).parents('.file-field').find('.existing-file').remove();
            });

            // Additional files
            // $('.add-file').click(function () {
            //     let $additionalFile = $(this).parents('.additional_file');
            //     $additionalFile.clone(true).appendTo($additionalFile.parent());
            // });
            // $('.remove-file').click(function () {
            //     $(this).parents('.additional_file').remove();
            // });

            // Fields to complete for a 100% profile completion
                        //$('[name="position_desired"]').css({boxShadow:"0px 0px 5px red"});
                        // Files to upload for a 100% profile completion
            
            
                    });
   </script> #}
   {% endblock %}

    
{% endblock %}
