{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Phone</th>
                <th>CurrentLocation</th>
                <th>Adress</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Nationality</th>
                <th>Passport</th>
                <th>Cv</th>
                <th>Picture</th>
                <th>Birthdate</th>
                <th>JobSector</th>
                <th>Experience</th>
                <th>ShortDescription</th>
                <th>Notes</th>
                <th>DateCreatedAt</th>
                <th>DateUpdatedAt</th>
                <th>DateDeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.currentLocation }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.nationality }}</td>
                <td>{{ user.passport }}</td>
                <td>{{ user.cv }}</td>
                <td>{{ user.picture }}</td>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ user.jobSector }}</td>
                <td>{{ user.experience }}</td>
                <td>{{ user.shortDescription }}</td>
                <td>{{ user.notes }}</td>
                <td>{{ user.dateCreatedAt ? user.dateCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.dateUpdatedAt ? user.dateUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.dateDeletedAt ? user.dateDeletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
